.container-initial{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 4px;
}

.container-initial fieldset{
    min-width: 50%;
    margin: 10px;
    padding: 15px;
    border: solid black 2px;
}

.container-initial legend{
    font-size: 1.6em;
}

.container-initial label{
    font-size: 1.4em;
}

#results, #veiculos{
    width: 100%;
    border-collapse: collapse;
    margin: .5rem 0;
}

:is(#results, #veiculos, #detalhes) th, td{
    border: 1px solid #ddd;
    padding: 8px;
    font-size: 11pt;
}

:is(#results, #veiculos) tr:nth-child(odd){
    background-color: #f2f2f2;
}

:is(#results, #veiculos, #detalhes) tr:hover{
    background-color: #ddd;
}

:is(#results, #veiculos, #detalhes) th{
    padding: 10px;
    border: 1px rgb(39, 39, 39) solid;
    background-color: rgb(39, 39, 39);
    color: white;
    font-size: 12pt;
    font-weight: 500;
}

.container-detalhes{
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-collapse: collapse;
    border: 1px solid #ddd;
    margin: 1rem 0;
}

.container-detalhes table{
    width: 32%;
}

.container-detalhes img{
    width: 130px;
    object-fit: cover;
    border: 1px solid #ddd;
}
