@import url('https://fonts.googleapis.com/css2?family=Goldman&family=Lato&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;

    font-family: 'Lato', sans-serif;
}

.App{
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* font-family: 'Goldman', cursive; */