.container-initial{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 4px;
}

.container-initial fieldset{
    min-width: 50%;
    margin: 10px;
    padding: 15px;
    border: solid black 2px;
}

.container-initial legend{
    font-size: 1.6em;
}

.container-initial label{
    font-size: 1.4em;
}

.search-fields{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
}

.search-fields input, input:active{
    width: 50%;
    border: solid black;
    border-width: 2px 2px 2px 6px;
    padding: 5px 20px;
    font-size: 1.2em;
}

.search-buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.search-buttons button{
    background-color: #000000;
    border: solid black 2px;
    color: #ffffff;
    font-size: 1.4em;
    margin: 0 5px;
    cursor: pointer;
    padding: 5px 15px;
}

.search-buttons button i{
    margin-left: 10px;
}

.search-buttons button:last-child{
    margin-right: 0px;
}

.search-buttons button:hover{
    background-color: #ffffff;
    color: #000000;
    border: solid black 2px;
}

