.container-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px 30px;
}

.container-footer section{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container-footer section span{
    font-weight: 400;
    font-size: 20pt;
    color: white;
    margin-left: 20px;
}

.credito{
    font-size: 1.2em;
    color: white;
    margin-left: 30%;
}